<li class="board-card" data-ref="<%= reference %>">
  <div class="header-card">
    <div class="departure">
      <h4><%= departure %></h4>
    </div>
    <div class="from-to-icon">

      <% if (transport === 'train') { %>
        <i class="ion-android-train"></i>
        <% } else{ %>
          <i class="ion-android-bus"></i>
        <% } %>

        <div class="dots"></div>

    </div>
    <div class="arrival">
      <h4><%= arrival %></h4>
    </div>
  </div>
  <div class="footer-card">
    <div class="reference">
      <span>Reference</span>
      <%= reference %>
    </div>

    <div class="transport">
      <span>Transport</span>
      <%= transport %>
    </div>

    <div class="duration">
      <span>Duration</span>
      <%= duration.h %>H<%= duration.m %>
    </div>

    <div class="cost">
      <span>Cost</span>
      <%= cost %>
    </div>

  </div>
</li>
